<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/general.html :: header"/>
<head>
    <title>Add Client</title>
</head>
<body>

<div th:replace="fragments/general.html :: top-bar"></div>

<div class="jumbotron text-center" style="margin-bottom:0; height: 100px;">
    <h1>Add Client</h1>
</div>
<div class="container" style=" margin-left:5%; margin-top: 3%">

    <form th:action="@{#}" th:object="${caseCreation}" id="post-form" method="post">
        <div class="form-group">
            <select class="form-control form-control-lg" th:field="*{caseSupervisor}">
                <option th:each="clients: ${allClients}" th:value="${clients.getId()}" th:text="${clients.getName()}"></option>
            </select>
        </div>
        <small id="supervisorHelp" class="form-text text-muted">Add another client to your case.</small>
        <button type="submit">Add existing client</button>
    </form>
    <a th:href="${'/create-client?caseID=' + caseID}"><button type="button">Create new client</button></a>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>