<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:insert="fragments/general.html :: header"></head>
<head>
    <title>Remove Lawyer</title>
    <link rel="stylesheet" type="text/css" href="/css/sheet.css">
</head>



<div th:replace="fragments/general.html :: top-bar"></div>


<div class="container" style="margin-top: 1em;">

    <div class="card card-styling">

        <div class="card-header text-center">
            <b>Are you sure you want to remove this lawyer from the case?</b>
        </div>

        <div class="card-body">
            <p th:utext="${'<b>' + lawyerName + '</b> will be removed from the <b>' + caseName +'</b>.'}"></p>
        </div>
        <div class="text-center">
            <form th:action="${'/confirm-delete-lawyer?caseID=' + caseID + '&lawyerID=' + lawyerID}" method="post">
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>